body {
    background-color: #FFFF00 /*#229799 rgb(30,74,169) #f5f54b*/;
    margin: 0px 0px 0px 0px;
  }
  
  h1 {
    text-align: center;
  }
  
  h2 {
    margin-left: 5px;
  }
  
  .Name {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 10px;
    height: 120px;
    position: relative;
    margin-left: 20px;
    margin-right: 20px;
  }
  
  .clearfix::after {
    content: '';
    display: block;
    clear: both;
  }
  
  .title-text {
    font-family: "Lexend Mega";
    font-size: 60px;
    font-weight: 800;
    color: #1684ac;
    margin-top: 10px;
    margin-bottom: 10px;
    letter-spacing: 0px;
    transform: scale(.9,1);
  }

  .content {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
  }
  
  .content .post {
    width: 100%;
    margin: 10px auto;
    border-radius: 20px;
    padding-top: 30px;
    padding-bottom: 50px;
    background: #fdfdfd;
    box-shadow: 6px 8px #000;
    stroke: #000;
    border: solid black 5px;
  }
  
  .day {
    font-family: Public Sans;
    color: black;
    padding-left: 30px;
    margin-top: 10px;
  }

  .text {
    font-family: Public Sans;
    font-size: 20px;
    color: black;
    padding-left: 30px;
    padding-right: 30px;
    margin-bottom: 0px;
    margin-top: 0px;
    line-height: 1.8;
  }

  .footer {
    background: #424242;
    color: #fdfdfd;
    margin-top: 20px;
    height: 80px;
    position: relative;
  }
  
  .footer .footer-bottom {
    background: #424242;
    color: #fdfdfd;
    height: 50px;
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 0px;
    left: 0px;
    padding-top: 20px;
  }
  
  .public-sans-text {
    font-family: "Public Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }

  .electrolize-regular {
    font-family: "Electrolize", sans-serif;
    font-weight: 600;
    font-style: normal;
  }  

  .lexend-mega-text {
    font-family: "Lexend Mega", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
  }
