body {
      margin: 0;
}

.split-screen {
      height: 100vh;
      display: flex;
}

.left-side {
      flex: 1;
      background-color: rgb(245, 245, 237);
      overflow-y: auto;
}

.right-side {
       flex: 1;
       overflow-x: auto;
}

/*body {
  background-color: rgb(245, 245, 237);
  margin: 0px 0px 0px 0px;
}

/* Style the navigation bar
.navbar {
  width: 100%;
  background-color: rgb(127, 161, 195);
  overflow: auto;
}

/* Navbar links
.navbar a {
  float: left;
  text-align: center;
  padding: 12px;
  color: white;
  text-decoration: none;
  font-size: 17px;
}

/* Navbar links on mouse-over
.navbar a:hover {
  background-color: rgb(100, 130, 173);
}

@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display: block;
  }
}*/
