body {
  background-color: rgb(245, 245, 237);
  margin: 0px 0px 0px 0px;
}

.Name {
  margin-top: 50px;
  margin-bottom: 50px;
  margin-right: 354px;
  margin-left: 464px;
}

/*.grid-container {
  display: grid;
  column-gap: 11px
  row-gap: 11px
  grid-template-columns: auto auto auto;
  padding: 10px;
  background-color: rgb(245, 245, 237);
}*/

.grid-item {
  border: 11px solid;
  padding: 0px;
  column-gap: 11px
  row-gap: 11px
  font-size: 0px;
  text-align: bottom;
  border-color: rgb(245, 245, 237);
  background-color: rgb(245, 245, 237);
}

.grid-item:hover {
  transform: scale(1.05);
}

@media screen and (max-width: 500px) {
  .grid-item {
    float: none;
    display: block;
  }
}
